@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  /* background: url("https://img.wallpapersafari.com/desktop/1680/1050/25/22/7jMSZa.jpg") no-repeat; */
  background: #3a1c71; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffaf7b,
    #d76d77,
    #3a1c71
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffaf7b,
    #d76d77,
    #3a1c71
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: cover;
  height: 200vh;
}


/* Navbar */
.navbar{
  background-color: black;
  align-items: center;
}
.navbar ul{
  overflow: auto;
}
.navbar li{
  float:left;
  list-style: none; 
  margin: 13px 20px;
  
}
.navbar li a{
  padding: 3px 3px;
  text-decoration: none;
  color: white;
  font-family: 'Courgette', cursive;
}

.navbar li a:hover{
  color: red
}



/* Form  */
.registration-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}

.registration-form h1 {
  font-size: 50px;
  text-align: center;
  /* text-transform: uppercase; */
  font-family: 'Send Flowers', cursive;
}

.registration-form label {
  font-size: 20px;
  margin: 10px 0px ;
  font-weight: 600;
  font-family: 'Courgette', cursive;
}

.formBox {
  margin: 20px;
}


.registration-form input {
  font-size: 16px;
  padding: 15px 10px;
  width: 100%;
  border: 0;
  border-radius: 10px;
  outline: none;
}

.registration-form textarea {
  font-size: 16px;
  padding: 15px 10px;
  width: 100%;
  border: 0;
  border-radius: 10px;
  outline: none;
}

.registration-form button {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
  padding: 10px 15px;
  width: 50%;
  border: 0;
  border-radius: 5px;
  background-color: #fff;
}

.registration-form button:hover {
  color: rgb(3, 135, 187);
  background-color: black;
}
